.container {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.header {
  position: relative;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  height: 48;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #ffffff;
}

.headerText {
  height: 15px;
  font-family: NotoSansCJKkr;
  font-size: 15px;
  line-height: 15px;
  /* identical to box height, or 100% */
  color: #5c5a5a;
  padding-left: 15px;
  padding-top: 10px;
}

.table {
  padding: 1px 10px;
  background-color: #f4f3f3;
}

.trow {
  overflow: hidden;
  /* margin: 10px auto; */
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  /* margin-top: 16px; */
  background-color: #ffffff;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
}

.tcol {
  float: left; /* un-comment to float the DIVs */
  margin: 1px;
  padding: 10px;
  height: 22px;
  font-family: NotoSansCJKkr;
  font-size: 12px;
  line-height: 22px;
  /* identical to box height, or 183% */
  letter-spacing: -0.184615px;
  color: rgba(92, 90, 90, 0.8);
  left: 0%;
}

.edit {
  /* icon/edit */

  position: absolute;
  left: 90.56%;
  right: 5.56%;
  top: 21.74%;
  bottom: 68.12%;
  background: #979595;
}
.theader {
  height: 18px;
  font-family: Noto Sans CJK KR;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */
  color: #333131;
}
.theader-sub {
  height: 21px;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.3px;
  color: #0c0c0c;
}
.priceText {
  height: 13px;
  font-family: Noto Sans CJK KR;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 13px;
  /* identical to box height, or 100% */
  letter-spacing: -0.3px;
  color: #5c5a5a;
  padding-top: 10px;
}
.price {
  height: 16px;
  font-family: Noto Sans CJK KR;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  text-align: right;
  letter-spacing: -0.3px;
  color: #286140;
  padding-top: 10px;
}
.sign {
  padding-right: 5px;
  padding-left: 5px;
}
.footer {
  position: relative;
  overflow: hidden;
  /* margin: 10px auto; */
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
  height: 56px;
  left: 0px;
  background: #286140;
}
.footerText {
  height: 15px;
  font-family: Noto Sans CJK KR;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  /* identical to box height, or 100% */
  color: #ffffff;
}
.fcol {
  height: 14px;
  font-family: Noto Sans CJK KR;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */
  text-align: right;
  letter-spacing: -0.3px;
  color: #ffffff;
  padding-left: 50%;
}
.footerPrice {
  height: 14px;
  font-family: Noto Sans CJK KR;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */
  text-align: right;
  letter-spacing: -0.3px;
  color: #ffffff;
}
.fsign {
  padding-right: 10px;
  padding-left: 10px;
  color: #ffffff;
}
