.header {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 48;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    background: #FFFFFF;
}

.headerText {
    font-family: NotoSansCJKkr;
    font-size: 15px;
    line-height: 15px;
    margin-left: 24px;
    /* identical to box height, or 100% */
    color: #5C5A5A;
}